#slideshow {
  margin: 0 auto;
  // padding-top: 50px;
  height: 630px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 3rem;
}

.slideshow-title {
  font-family: "Allerta Stencil";
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}
.sub-heading-two {
  font-size: 15px;
}
.sub-heading-three {
  font-size: 13px;
}
.sub-heading-four {
  font-size: 11px;
}
.sub-heading-five {
  font-size: 9px;
}
.sub-heading-six {
  font-size: 7px;
}
.sub-heading-seven {
  font-size: 5px;
}
.sub-heading-eight {
  font-size: 3px;
}
.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

// .content-carrousel:hover {
//   animation-play-state: paused;
//   cursor: pointer;
// }

.content-carrousel figure {
  width: 100%;
  height: 40vh;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px rgb(3, 0, 99);
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 20rem;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 400ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.IMAGE_MOVIE {
  height: 20rem;
  width: 0rem;
}
.Music-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  // display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.Ach-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  // display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.tv-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  // display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.Website-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  // display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.Jobs-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  // display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.card-music {
  height: 14rem;
  width: 12rem;
  margin-top: 1rem;
  margin-left: 1.9rem;
  // box-shadow: white 2px 2px 2px 2px;
  box-shadow: 0px 0px 20px 0px rgb(3, 0, 99);

  border-radius: 0.75rem;
}
.card-music-img {
  height: 9rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 0.75rem;
}
.card-music-header {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}
.card-music-info {
  color: white;
  text-align: center;
}
.btn {
  width: 10rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 17.2rem;
  border-radius: 0.75rem;
  background-color: black;
  color: rgb(255, 255, 255);
  display: none;
}
.baby-Keem {
  position: absolute;
  top: 13rem;
  left: 2rem;
  height: 6rem;
  width: 12rem;
  border-radius: 0.75rem;
}
.time{
  position: absolute;
  right: 2rem;
  top:5rem;
}