@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-image: url("https://wallpaperaccess.com/full/283883.jpg");
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

@font-face {
  font-family: Header;
  src: url("../Fonts/OldSport01CollegeNcv-aeGm.ttf");
}
@font-face {
  font-family: Header2;
  src: url("../Fonts/OldSport02AthleticNcv-E0gj.ttf");
}
a {
  text-decoration: none;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.banner {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-radius: 0.75rem;
  position: relative;
  box-shadow: rgba(34, 34, 34, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  top: 6rem;
}
.banner .banner-title {
  color: #1e00ff;
  font-size: 6rem;
  text-align: center;
  font-weight: bolder;
  font-family: Header2;
}

.body {
  width: 60rem;
  height: 48rem;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: 3em;
  left: 18rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#slideshow {
  margin: 0 auto;
  height: 630px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 3rem;
}

.slideshow-title {
  font-family: "Allerta Stencil";
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
}

.sub-heading-two {
  font-size: 15px;
}

.sub-heading-three {
  font-size: 13px;
}

.sub-heading-four {
  font-size: 11px;
}

.sub-heading-five {
  font-size: 9px;
}

.sub-heading-six {
  font-size: 7px;
}

.sub-heading-seven {
  font-size: 5px;
}

.sub-heading-eight {
  font-size: 3px;
}

.sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  -webkit-animation: rotar 30s infinite linear;
          animation: rotar 30s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel figure {
  width: 100%;
  height: 40vh;
  border: 1px solid #3b444b;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #030063;
  border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 20rem;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 400ms;
}

@-webkit-keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.IMAGE_MOVIE {
  height: 20rem;
  width: 0rem;
}

.Music-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.Ach-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.tv-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.Website-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.Jobs-Div {
  height: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  top: 2rem;
  position: relative;
  border-radius: 0.75rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}

.card-music {
  height: 14rem;
  width: 12rem;
  margin-top: 1rem;
  margin-left: 1.9rem;
  box-shadow: 0px 0px 20px 0px #030063;
  border-radius: 0.75rem;
}

.card-music-img {
  height: 9rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 0.75rem;
}

.card-music-header {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.card-music-info {
  color: white;
  text-align: center;
}

.btn {
  width: 10rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 17.2rem;
  border-radius: 0.75rem;
  background-color: black;
  color: white;
  display: none;
}

.baby-Keem {
  position: absolute;
  top: 13rem;
  left: 2rem;
  height: 6rem;
  width: 12rem;
  border-radius: 0.75rem;
}

.time {
  position: absolute;
  right: 2rem;
  top: 5rem;
}

.Logo-container {
  border-radius: 0.75rem;
  height: 10rem;
  width: 12rem;
  position: absolute;
  top: 0rem;
  left: 2rem;
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: lightgray;
  opacity: 0.9;
}
.Logo-container .logo {
  height: 10rem;
  width: 12rem;
}/*# sourceMappingURL=index.css.map */